include base
  .container
    h3= pageTitle
    p= message

    p
      each message in messages
        .line
          strong= message

    if species
      form(action="/sightings", method="post")
        .form-group
          label(for="species") Species
          select.form-control(name="species", id="species")
            each duck in species
              if (formData.species == duck.name)
                option(value=duck.name, selected)= duck.name
              else
                option(value=duck.name)= duck.name
        .form-group
          label(for="description") Description
          textarea.form-control(id="description", name="description", rows="4")= formData.description
        .form-group
          label(for="datetime") Date and time (YYYY-MM-DD HR:MN:SS)
          input.form-control(type="datetime", id="datetime", name="datetime", value=formData.datetime)
        .form-group
          label(for="count") Count
          input.form-control(type="number", id="count", name="count", value=formData.count)
        .button-toolbar
          button.btn.btn-danger(type="submit") Submit
          button.btn.btn-warning(type="reset") Clear
